
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Record List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for obj in object_list %}
        
            <li>Book: <strong>{{obj.name}}</strong>  Author: {{obj.author}}</li>
        {% endfor %}
    </ul>
        <ul>
        {% for obj in object_list %}
            <li><p>Book: <strong>{{obj.name}}</strong></p><p>Author: <strong>{{obj.author}}</strong></p></li>
        {% endfor %}
    </ul>
</body>
</html>